@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-color: #332D56;

  --hover-color: #4A417D;
  --text-color: #ffffff;
  --accent-color: #71C0BB;
  --alt-color: #E3EEB2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  background-color: var(--primary-color);
}


/*Header*/

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: rgb(51, 45, 86, 0.5);
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: background-color 0.5s ease;

}

.container-header:hover{
  background-color: var(--primary-color);
}

.logotipo-isotipo {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.isotipo {
  height: 40px;
  width: auto;
}

.logotipo {
  padding-left: 1rem;
  height: 40px;
  width: auto;
}

nav {
  background-color: rgb(0, 0, 0, 0);
  position: relative;
  top: 0;
  z-index: 9;  
  display: flex;
  margin-left: auto;
}


nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav li {
  display: flex;
}

nav .home-li {
  margin-right: auto;
  
}

nav a {
  display: flex;
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color);
  padding: 1em 2em;
  background-color: rgb(0, 0, 0, 0 );
  transition: transform 0.5s ease;
  transition: background-color 0.5s ease;

}

nav a:hover {
  transform: scale(1.1);
  background-color: var(--hover-color);
}

nav a.active-link {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-weight: bold;
}

#open-sidebar-button,
#close-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
  color: white;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

/*Hero*/
.contenido-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.text-hero {
  position: absolute;
  top: 85%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: left;
  padding: 1em;
  border-radius: 1em;
  max-width: 90%;
}

.text-hero h1 {
  font-size: 3rem;
}

.text-hero p{
  font-size: 1.5rem;
}


/*Slideshow*/

.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slide {
  position: absolute;
  width: 100%;
  height: 1400px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}.slide img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  object-fit: cover;
  animation: zoom 10s ease-in-out infinite;
}
.slide.active {
  opacity: 1;
  z-index: 1;
}


/*main*/

main {
  padding: 2em;
}

@media screen and (max-width: 1450px) {
  .contenido-hero {
    height: 100vh;
  }

  .text-hero {
    padding: 1em;
    font-size: 0.9rem;
    max-width: 90%;
    background-color: rgba(0, 0, 0, 0.5); /* mejora contraste en móviles */
  }

  .text-hero h1 {
    font-size: 1.2rem;
    line-height: 1.4em;
  }

  .text-hero p {
    font-size: 0.95rem;
    line-height: 1.3em;
  }

  .slideshow {
    height: 100vh;
  }

  .slide {
    height: 100vh;
  }

  .slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #open-sidebar-button {
    color: var(--text-color);
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 11;
  }

  nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    background-color: var(--primary-color);
    transition: right 300ms ease-out;
    flex-direction: column;
    display: flex;
  }

  nav.show {
    right: 0%;
  }

  nav ul {
    flex-direction: column;
    padding-top: 4em;
  }

  nav a {
    font-size: 2rem;
    width: 100%;
    padding-left: 2.5em;
  }

  #close-sidebar-button {
    display: block;
    position: absolute;
    top: 1em;
    left: 1em;
  }

#overlay.show {
  display: block;
}
.logotipo-isotipo {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.isotipo {
  height: 30px;
  width: auto;
}

.logotipo {
  padding-left: 1rem;
  height: 30px;
  width: auto;
}

}
